<mat-tab-group mat-align-tabs="start" style="padding-top: 40px; padding-left: 2%; padding-right:2%;">
    <mat-tab label="PROXIMAS">
        <div fxlayout="row" fxlayoutAlign="start center" style="padding: 2%;">
            <div style="margin: 0.5%;">
                <mat-card class="example-card"
                fxFlex="0 1 calc(33,3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%">
                    <mat-card-header>

                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident minima sint aliquid cupiditate fuga necessitatibus odit doloribus exercitationem nam at facilis reprehenderit quidem quibusdam id ducimus architecto ex maiores officia nobis incidunt, unde iusto repellendus praesentium! Magnam, aspernatur.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </mat-tab>
    <mat-tab label="REALIZADAS">content 2</mat-tab>
</mat-tab-group>